<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grady.fim.mapper.MessageMapper">
  <resultMap id="BaseResultMap" type="com.grady.fim.common.pojo.model.Message">
    <id property="id" column="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
    <result property="sendUserAccount" column="send_user_account" javaType="java.lang.String" jdbcType="VARCHAR"/>
    <result property="acceptUserAccount" column="accept_user_account" javaType="java.lang.String" jdbcType="VARCHAR"/>
    <result property="acceptFlag" column="accept_flag" javaType="java.lang.Integer" jdbcType="TINYINT"/>
    <result property="message" column="message" javaType="java.lang.String" jdbcType="VARCHAR"/>
    <result property="createTime" column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
  </resultMap>

  <sql id="Base_Column_List" >
    id, send_user_account, accept_user_account, accept_flag, message, create_time
  </sql>

  <insert id="recordP2PChat" parameterType="com.grady.fim.common.pojo.req.P2PReqVo" >
    INSERT INTO
      fim_message(send_user_account, accept_user_account, accept_flag, message)
    VALUES
      (#{userId}, #{dstUserId}, 0, #{msg})
  </insert>

  <select id="selectUnreadMsg" resultMap="BaseResultMap" >
    SELECT
      <include refid="Base_Column_List" />
    FROM
      fim_message
    WHERE
      accept_user_account = #{username}
      AND
      accept_flag = 0
    ORDER BY
      create_time DESC
  </select>

  <select id="selectMessageBy" resultMap="BaseResultMap" >
    SELECT
      <include refid="Base_Column_List" />
    FROM
      fim_message
    WHERE
      accept_user_account = #{username}
      OR
      send_user_account = #{username}
    ORDER BY
      create_time DESC
  </select>
</mapper>